.kitpages-edm-node-status-disable {
    display:none;
}

/*
 *  tree
 */
.kit-edm-tree ul{
    list-style: none outside none;
}

.kit-edm-tree {
    position: relative;
    background-color: #FFF;
    display: none;
}
.kit-edm-tree > .kit-edm-tree-node-container:first-child {
    margin: 0px;
}
.kit-edm .kit-edm-tree-node-container {
    margin-left: 20px;
    list-style: none;
}
.kit-edm-tree-line {
    margin-left:15px;
    background-color: #F0F0F0;
}
.kit-edm-tree-line:hover {
    background-color: #FFFF80;
}
.kit-edm-tree-line > a {
    display: block;
    color: #313131;
    text-decoration: none;
    float: left;
    padding-left: 3px;
    padding-top: 5px;
}
.kit-edm-tree-page-id {
    font-size: 0.7em;
    color: #808080;
}
.kit-edm-tree-actions {
    display: block;
    float:right;
}

.kit-edm-tree-actions {
    height: auto;
    background-color: transparent;
    border-radius: 0;
    border: none;
}
.kit-edm-tree-actions > li {
    display:inline-block;
}

.kit-edm-tree-form-load{
    height:32px;
    width:32px;
    border:none;
    background-image: url('../img/load.gif');
    background-repeat: no-repeat;
    background-position: center top;
}

.kit-edm-tree .kit-edm-tree-line-start a {
    text-decoration: none;
}

.kit-edm-tree-expanded-collapsed:hover {
    background-color: #f2f279;
}

.kit-edm-upload-progress-indicator
{
    width:0px;
    background-image:url('../img/progressbar.gif');
    height:22px;
    margin:0;
}
.kit-edm-upload-progress
{
    width:250px;
    /*padding:1px;*/
    background-color:white;
    /*border:1px solid black;*/
    height:22px;
}
